# Ignore bundler config.
/.bundle

# Ignore all logfiles and tempfiles.
/log/*
!/log/.keep
/tmp

# Ignore local Paperclip files
/public/system

# Ignore secrets
/config/secrets.yml

# Ignore vendored assets
/vendor/ruby
