// Place all the styles related to the categories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
	background-image:url(orange.svg);
	background-size: 100px 100px;
}

.logo {
	height: 6rem;
	width: 15rem;
	margin-left: auto;
	margin-right: auto;
	display: block;
	margin-top: 2rem;
}

.trainerCategories {
	list-style-type: none;
	font-size: 5rem;
	display: inline;

	li {
		display: inline;
		a{
				text-decoration: none;	
				color: black;
		}
	}
}
