.homepage
	=image_tag "logo.png", :class => "logo"
	- if @categories
		%ul.trainerCategories
			- @categories.each do |c|
				%li
					= link_to c.name, category_path(c), :class => "trainerCategories-cateogoryName"
